.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*Deactivating the body lock for now*/
.preview-modal-lock {
    /*overflow: hidden;*/
}

.preview-modal-wrapper {
    display: none;
}

.preview-modal-wrapper.active {
    display: block;
}

.preview-modal {
    /* Deactivating the modal for now */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: 0.7;
    z-index: 160102;
}

.preview-modal-container {
    background: #FFF;
    border-left: 1px solid #CCC;
    position: fixed;
    min-width: 690px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 120021;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.preview-modal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #FFF;
    border-bottom: 1px solid #DDD;
    clear: both;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.preview-modal-header .option {
    border-left: 1px solid #DDD;
    color: #AAA;
    cursor: pointer;
    font-weight: bold;
}

.preview-modal-header .option a {
    display: inline-block;
    padding: 14px 18px;
    line-height: 1em;
    color: #AAA;
    text-decoration: none;
}

.preview-modal-header .option:hover {
    background: #f5f5f5;
    color: #777;
}

.preview-modal-header .option:hover a,
.preview-modal-header .option a:hover {
    color: #777;
    text-decoration: none;
}

.preview-modal-header .option.closer {
    border-right: 1px solid #DDD;
}

.preview-modal-header h3 {
    color: #000;
    margin: 0;
    padding: 13px 20px;
    font-size: 14px;
    line-height: 1em;
}

.preview-modal-ui {
    padding: 20px;
    min-width: 630px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 41px;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.preview-modal-ui .label-container {
    margin-bottom: 10px;
    text-align: center;
}

.preview-modal-ui .label {
    background: #eee;
    font-size: 11px;
    padding: 5px 10px;
    display: inline-block;
    color: #666;
}


.article-wrap .row {
    margin: auto;
    position: relative;
}

.article-wrap .row:before,
.article-wrap .row:after {
    display: table;
    content: "";
}

.article-wrap .row:after {
    clear: both;
}